#title{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: black;
}
#textarea{
    height: 200px;
    text-align: center;
    text-decoration: inherit;
}  
#formu{
    text-align: center;
    display: flex;
    width: 40rem;
    margin: auto;
}